.example-spacer {
    flex: 1 1 auto;
}

.nav-items-container
{
    display: none;
    @media (min-width: 650px) {
        display: flex;
        gap: 16px;
        span
        {
            cursor: pointer;
            transition: all 400ms ease-in-out;
            &:hover
            {
                color: rgb(203, 203, 203);
            }
        }
    }
}

.menu-icon
{
    background-color: transparent;
    border: none;
    @media (min-width: 650px) {
        display: none;
    }
    img
    {
        width: 24px;
    }
}